.bl{
    margin-left: 2rem;
    margin-bottom: 0.3rem;
}

.btn-positive:focus{
    color: white;
    background-color: rgba(25,135,84,255);
    box-shadow: none;
}

.btn-negative:focus{
    color: white;
    background-color: rgba(220,53,69,255);
    box-shadow: none;
}

.btn-it:focus{
    color: white;
    background-color: rgba(13,110,253,255);
    box-shadow: none;
}

.btn-legal:focus{
    color: white;
    background-color: rgba(33,37,41,255);
    box-shadow: none;
}

.btn-marketing:focus{
    color: white;
    background-color: rgba(13,202,240,255);
    box-shadow: none;
}
